<title>Login</title>
<!-- <body background='http://i.imgur.com/ayEYUZV.jpg'> -->
    <style type="text/css">
        body {
            background-image: url(http://i.imgur.com/ayEYUZV.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
<body>
	<div class="loginform cf">
	   <h1> User Login </h1>
       <%= form_for(:session, url: '/login') do |f| %>
        
            <ul>
                <li>
                    <label>Username</label>
                    <%= f.text_field :user_name %>
                </li>
                <li>
                    <label>Password</label>
                    <%= f.password_field :password %>
                </li><br><br>
                <li><%= f.submit "Login" %></li>
            </ul>

        <% end %>
    </div>
</body>