<div id="wrapper">
    <main>
        <div id="content">
	    <h2>Inventory</h2>
	    <div id="inventory">
		<%= render "items/update_form" %>
	    </div>

            <%= render "items/form" %>
        </div>
    </main>
</div>
