<h2>Inventory</h2>
<div id="wrapper">
    <main>
        <div id="content">
            <h2>Grocery List</h2>
	    <div id="inventory">
		<% @user.inventory.items.each do |item| %>
		    <%= render item %>
		<% end %>
	    </div>

            <%= render "items/form" %>
        </div>
    </main>
</div>
