<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>2 Column Layout &mdash; Left Menu with Header &amp; Footer</title>
	</head>
		
	<div id="wrapper">
		<main>
			<div id="content">
				<div class="innertube">
					<h1>Here are your recipes!</h1>
					<p>CS595 Spring 2016 Capstone </p>
					<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcThbe7ItJIGEOBrzCMjfTLdzc08Cv1Ns6s21vCmXG3Alx_a8xBK" >
					<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ77235_wapAcbtK-Vkh2uCAo4h8YvyLC7JLl9oLM20p0yzg2I6lw" >
				</div>
			</div>
		</main>
	</div>