	

		<header id="header">
			<div class="innertube">
				<h1>Header...</h1>
				
			</div>
		</header>
		
		<div id="wrapper">
		
			<main>
				<div id="content">
					<div class="innertube">
						<h1>I Changed This!!!!!GSA Fuckin' Shit Up!!!!</h1>
						<p>Grocery List Tracker Home Page</p>
						<p>CS595 Spring 2016 Capstone </p>
						<img src="http://financialmoneytips.com/wp-content/uploads/2013/02/shopping-cart-dollar.jpg" >
					</div>
				</div>
			</main>
			
			<nav id="nav">
				<div class="innertube">
					<h3>Left heading</h3>
					<ul>
						<li><a href="http://localhost:3000/GroceryTracker">Budget</a></li>
						<li><a href="#">Inventory</a></li>
						<li><a href="http://localhost:3000/GroceryTracker/Recipies">Recipies</a></li>
						<li><a href="http://localhost:3000/GroceryTracker/ShoppingList">Shopping list</a></li>
						<li><a href="#">Misc</a></li>
					</ul>
					
				</div>
			</nav>
		
		</div>
		
		<footer id="footer">
			<div class="innertube">
				<p>Footer...</p>
			</div>
		</footer>
	
	</body>
</html>