<!DOCTYPE html>
<html>
	<title>GroceryTracker</title>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>2 Column Layout &mdash; Left Menu with Header &amp; Footer</title>
	</head>
		
	<div id="wrapper">
		<main>
			<div id="content">
				<div class="innertube">
					<h1>Welcome!</h1>
					<p></p>
					<p>CS595 Spring 2016 Capstone </p>
					<!-- <img src="http://financialmoneytips.com/wp-content/uploads/2013/02/shopping-cart-dollar.jpg" > -->
				</div>
			</div>
		</main>
	</div>