<pre id="spoonacular-ingredients" style="display:none">
    <%= @item.amount %><%= @item.name %>
</pre>
<div id="spoonacular-nutrition-visualizer"></div>
<div id="spoonacular-price-estimator"></div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="https://spoonacular.com/cdn/spoonacular-1.5.min.js"></script>
