/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

			body {
				margin:0;
				padding:0;
				font-family: Tahoma, Geneva, sans-serif;
				line-height: 1.5em;
			}

			#header {
				background: #28774F;
				height: 50px;
			}
			#header h1 {
				margin: 0;
				padding-top: 15px;
			}

			main {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 100%;
			}

			#nav {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 230px;
				margin-left: -100%;
				background: #eee;
			}

			#user {
				background-color: #0F5933;
			}
			#user a {
				font-family: Tahoma, Geneva, sans-serif;
				text-decoration: none;
				color: #000;
			}

			#menu {
				padding-top: 12px;
    			width: 650px;
				height: 35px;
				font-size: 16px;
			    font-family: Tahoma, Geneva, sans-serif;
				font-weight: bold;
			    text-align: center;
        		border-radius: 8px;
			}
			#menu li {
				display: inline;
				padding: 20px;
			}
			#menu a:hover {
				padding: 5px;
			    background-color: #0F5933;
			}

			#wrapper {
				overflow: hidden;
			}

			#content {
				margin-left: 230px; /* Same as 'nav' width */
			}

			.innertube {
				margin: 15px; /* Padding for content */
				margin-top: 0;
			}

			p {
				color: #555;
			}

			nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			nav ul a {
				color: #fffaf0;
				text-decoration: none;
			}
			#footer {
				clear: left;
				width: 100%;
				background: #A9A9A9;
				text-align: center;
				padding: 4px 0;
    			/*position: fixed;*/
 				bottom: 0;
			}
			#footer ul {
    			margin: 0;
    			padding: 0;
			}
			#footer ul li {
    			list-style-type: none;
    			display: inline;
    			font-size: smaller;
			}
			#footer li:before {
				content: " | ";
			}
			#footer li:first-child:before {
				content: none;
			}

			/* LOGIN STUFF */
			.loginform label {
				display: block;
				font-weight: bold;
			}
			.loginform {
				width: 410px;
				margin: 50px auto;
				padding: 25px;
				background-color: rgba(250,250,250,0.5);
				border-radius: 5px;
			    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2),
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    			border: 1px solid rgba(0, 0, 0, 0.3);
			}
			.loginform ul {
				padding: 0;
				margin: 0;
			}
			.loginform li {
				display: inline;
				float: left;
			}
			.cf:before,
			.cf:after {
			    content: "";
			    display: table;
			}
			.cf:after {
    			clear: both;
			}
			/* End of LOGIN */
			
			
			
			.center {
    			margin-top:50px;   
			}

			.modal-header {
				padding-bottom: 5px;
			}

			.modal-footer {
    			padding: 0;
			}
    
			.modal-footer .btn-group button {
				height:40px;
				border-top-left-radius : 0;
				border-top-right-radius : 0;
				border: none;
				border-right: 1px solid #ddd;
			}
	
			.modal-footer .btn-group:last-child > button {
				border-right: 0;
			}
			
			
			.btn-primary {
				background: #28774F;
			}
			.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn.active {
				background: #003C1E;
			}
			
			
			h4 {
				color: #28774F;
			}
			
			
			.rows {
				padding-bottom: 10px;
				padding-right: 10px;
			}

.card {
    //padding-top: 20px;
    margin: 10px 0 20px 0;
    //background-color: rgba(214, 224, 226, 0.2);
    //border-top-width: 0;
    //border-bottom-width: 2px;
    //-webkit-border-radius: 3px;
    //-moz-border-radius: 3px;
    border-radius: 3px; //need
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    //-webkit-box-sizing: border-box;
    //-moz-box-sizing: border-box;
    box-sizing: border-box;
}


.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    width:100%;
    background-size:100% cover;
    height: 145px;
    filter:blur(15px);
    -webkit-filter:blur(15px);
    -mox-filter:blur(15px);
}
.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}


.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
}